<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Offers</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="new-offer">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card size="12" size-xm="8" offset-sm="2">
          <ion-list>
            <ion-item-sliding *ngFor="let offer of offers" #slidingItem>
              <ion-item>
                <div [routerLink]="['/' , 'places' , 'offers' , offer.id]">
                  <ion-thumbnail slot="start">
                    <ion-img [src]="offer.imageUrl"></ion-img>
                  </ion-thumbnail>
                  <ion-label>
                    <h1>{{offer.title}} </h1>
                  </ion-label>
                </div>
              </ion-item>
              <ion-item-options>
                <ion-item-option color="secondary" (click)="onEdit(offer.id , slidingItem)">

                  <ion-icon name="create" slot="icon-only"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>


          </ion-list>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
