<ion-header>
  <ion-toolbar>
    <ion-title>{{theOffer.title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>{{theOffer.title}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button color="primary" (click)="doSmthn()">
        <ion-icon name="book"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
