<ion-header>
  <ion-toolbar>
    <ion-title>new-offer</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCreateOffer()" [disabled]="!form.valid || !form.get('image').value">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>

      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/offers"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset="3">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset="3">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea rows="3" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!form.get('description').valid && form.get('description').touched">
        <ion-col size-sm="6" offset="3">
          <p>description ust not be pmore than 180 characters</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset="3">
          <ion-item>
            <ion-label position="floating">price</ion-label>
            <ion-input type="number" formControlName="price"></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset="3">
          <ion-item>
            <ion-label position="floating">Available from</ion-label>
            <ion-datetime min="2020-01-01" max="2020-12-31" formControlName="dateFrom"></ion-datetime>
          </ion-item>

        </ion-col>
        <ion-col size-sm="3" offset="3">
          <ion-item>
            <ion-label position="floating">Available to</ion-label>
            <ion-datetime min="2020-01-02" max="2020-12-31" formControlName="dateTo"></ion-datetime>
          </ion-item>

        </ion-col>
      </ion-row>

    </ion-grid>
  </form>



  <div>

    <ion-img class="image" role="button" [src]="selectedImage" *ngIf="selectedImage">
    </ion-img>
    <ion-button color="primary" (click)="onPickImage()">
      <ion-icon name="camera" slot="start"></ion-icon>
      <ion-label>Take a Picture</ion-label>
    </ion-button>
    <ion-img [src]="takenImage" *ngIf="takenImage"></ion-img>

    <input type="file" accept="image/jpeg" *ngIf="userPicker" #filePicker (change)="onFileChosen($event)" />

  </div>

</ion-content>
