<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          MyIonic
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>

          <ion-item lines="none" routerLink="/places/discover" button>
            <ion-icon name="business" slot="start">
            </ion-icon>
            <ion-label>Discover places</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/bookings" button>
            <ion-icon name="checkbox-outline" slot="start">
            </ion-icon>
            <ion-label>your bookings places</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>

          <ion-item lines="none" button (click)="logout()">
            <ion-icon name="exit" slot="start">
            </ion-icon>
            <ion-label>logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>

          <ion-item lines="none" routerLink="/places/location" button>
            <ion-icon name="location" slot="start">
            </ion-icon>
            <ion-label>take my location</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>

          <ion-item lines="none" routerLink="/places/image-picker" button>
            <ion-icon name="exit" slot="start">
            </ion-icon>
            <ion-label>go to image picker</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
